# 행정동 단위의 그림

In [2]:
import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd
import numpy as np
import csv

import geopandas as gpd
import plotly.graph_objects as go
import plotly.express as px
import folium
# import networkx as nx

In [3]:
with open(
        "../참고 데이터/csv/large-datasets/2022/생활이동_행정동_202201/생활이동_행정동_2022.01_00시.csv",
        encoding="cp949") as f:
    # data = csv.reader(f)
    data = pd.read_csv(f)

data.sort_values(by='평균 이동 시간(분)')[::-1].head(20)
# for row in data:
# print(row)

,대상연월,요일,도착시간,출발 행정동 코드,도착 행정동 코드,성별,나이,이동유형,평균 이동 시간(분),이동인구(합)
1065605,202201,목,0,21000,1108060,F,25,EH,660,*
334443,202201,월,0,1113074,36000,F,25,EE,660,*
876452,202201,수,0,34000,1112072,M,25,EE,640,*
856131,202201,수,0,25000,1117054,M,25,HE,630,*
1511623,202201,토,0,1121061,34000,F,25,EE,630,*
384878,202201,월,0,1121064,36000,M,25,EE,620,*
499303,202201,화,0,1105059,38000,F,20,EH,620,*
429752,202201,월,0,1125051,37000,F,20,EH,610,*
352765,202201,월,0,1116054,22000,M,30,WE,610,*
346460,202201,월,0,1114078,33000,M,25,EE,600,*
1089070,202201,목,0,33000,1121080,M,25,EH,590,*
1116445,202201,금,0,1104058,21000,F,25,HE,590,*
1313003,202201,금,0,32000,1122054,F,30,EE,590,*
464721,202201,월,0,32000,1112073,M,25,EW,580,*
162413,202201,일,0,1121080,21000,F,25,EE,580,*
1604483,202201,토,0,21000,1109062,M,25,EE,580,*
1642494,202201,토,0,32000,1112074,M,30,EE,580,*
806217,202201,수,0,1122065,32000,F,30,HE,560,*
1643807,202201,토,0,34000,1102068,M,30,EE,560,*
1569697,202201,토,0,1123078,25000,M,30,HE,560,*